@import"_variable.scss";
body{
    font-family: 'Poppins', sans-serif;
}
.bouton{
    bottom: 5px;
    right: 5px;
    position: fixed;
}
.navbar{
    .navbar-brand{
        margin: 0 50px;
    }
    /*1er de ul*/
    .navbar-nav{
        &:first-of-type{
            .nav-link{
                color: black;
                font-weight: bold;
                text-transform: uppercase;
                margin-right: 20px;
            }
        }
        &:last-of-type{
            margin-right: 50px;
        }
        .nav-link{
            margin-left: 20px;
            position: relative;
            .badge{
                position: absolute;
                top: 0;
                right: 0;
                color: azure;
                background-color: $primaire;
            }
        }
    } 
}
/*entete*/
header{
    .overlay{
        position: absolute;
        top: 50%;
        width: 40vw;
        left: 25%;
        transform: translate(-50%, -50%);
        a{
            &::after{
                content:'';
                position: absolute;
                width: 150px;
                height: 23px;
                clip-path: polygon(0 48%, 80% 48%, 80% 0, 100% 50%, 80% 100%, 80% 52%, 0 52%);
                background: linear-gradient(to right,darkgray, black);
            }
        }
    }
}
.bouton{
    background-color: lavender;
    color: dimgray;
}
.seller{
    position: absolute;
    top: 0;
    background-color: $primaire;
    color: white;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 0;
    &::after{
        content:'';
        background-color: $primaire;
        width: 20px;
        height: 20px;
        position: absolute;
        transform: rotate(45deg) translate(-50%, -50%);
        right: -15px;
        top: 50%;
        transform-origin: top left;
        z-index: -1;
    }
}
.hot{
    position: absolute;
    top: 0;
    background-color: $primaire;
    color: white;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 0;
    &::after{
        content:'';
        background-color: $primaire;
        width: 20px;
        height: 20px;
        position: absolute;
        transform: rotate(45deg) translate(-50%, -50%);
        right: -15px;
        top: 50%;
        transform-origin: top left;
        z-index: -1;
    }
}
a{
    &[href*="facebook"]{
        color: #3b5998;
    }
    &[href*="youtube"]{
        color: red;
    }
    &[href*="twitter"]{
        color: rgb(83, 189, 231);
    }
}









nav{
    text-align: center;
}
li{
    list-style-type: none;
}
header img{
    max-width: 100%;
    background-size: cover;
}
.main2 img{
    max-width: 100%;
}
p span{
color: #e59285;
}
h1 span{
    color: #e59285;
}
h2 span{
    color: #e59285;
}
a span{
    color: #e59285;
}