/* No CSS *//*# sourceMappingURL=styles.css.map */
body{
    margin: 0;
}

#map{
    height: 50vw;
}
img{
    height: 300px;
    width: 250px;
}
#dept{
    position: absolute;
    z-index: 1000;
    transform: translateX(-50%);
    left: 50%;
    top: 10px;
}