body {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
}
h1{
  font-size: 2em;
}
h2{
  font-size: 1.6em;
}

.navbar-light{
  border: solid 2px black;
}
a{
  color: black;
}
.bouton {
  bottom: 5px;
  right: 5px;
  position: fixed;
}

.navbar .navbar-brand {
  margin: 0 50px;
}

.navbar .navbar-nav:first-of-type .nav-link {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 20px;
}

.navbar .navbar-nav:last-of-type {
  margin-right: 50px;
}

.navbar .navbar-nav .nav-link {
  margin-left: 20px;
  position: relative;
}

.navbar .navbar-nav .nav-link .badge {
  position: absolute;
  top: 0;
  right: 0;
  color: azure;
  background-color: #e59285;
}

/*entete*/
header .overlay {
  position: absolute;
  top: 50%;
  width: 40vw;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .overlay a::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 23px;
  -webkit-clip-path: polygon(0 48%, 80% 48%, 80% 0, 100% 50%, 80% 100%, 80% 52%, 0 52%);
          clip-path: polygon(0 48%, 80% 48%, 80% 0, 100% 50%, 80% 100%, 80% 52%, 0 52%);
  background: webkit-gradient(linear, left top, right top, from(darkgray), to(black));
  background: linear-gradient(to right, darkgray, black);
}
.mail .overlay{  /*pour le mail*/
  position: absolute;
  top: 50%;
  width: 35vw;
  right: 10px;
  left: 75%;
  transform: translate(-50%, -50%);
}
.form-control:focus{
  box-shadow: unset;
} /*fin du mail*/



.seller {
  position: absolute;
  top: 0;
  background-color: #e59285;
  color: white;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 0;
}

.seller::after {
  content: '';
  background-color: #e59285;
  width: 20px;
  height: 20px;
  position: absolute;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
  right: -15px;
  top: 50%;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  z-index: -1;
}

.col-4{

  background-color: white;

}

.fondgris{
  background-color: rgb(246, 246, 246);
}

.hot {
  position: absolute;
  top: 0;
  background-color: gray;

  color: white;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 0;
}

.hot::after {
  content: '';
  background-color: gray;
  width: 20px;
  height: 20px;
  position: absolute;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
  right: -15px;
  top: 50%;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  z-index: -1;
}

a[href*="facebook"] {
  color: #3b5998;
}

a[href*="youtube"] {
  color: red;
}

a[href*="twitter"] {
  color: #53bde7;
}

nav {
  text-align: center;
}

li {
  list-style-type: none;
}

header img {
  max-width: 100%;
  background-size: cover;
}

.main2 img {
  max-width: 100%;
}


p span {
  color: #e59285;
}

h1 span {
  color: #e59285;
}

h2 span {
  color: #e59285;
}

a span {
  color: #e59285;
}

.copyright{
  font-size: 10px;
}

.payment{
  padding: 30px;
}

.owl-stage-outer{
  transform: scale(1.5);
  position: absolute;
  padding-top: 30px;
}

.owl-carousel .owl-item.active.center{
  z-index: 1;
  padding-bottom: 30px;
}

#ceur{
  color: red;
}


.col-4{
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 767.98px){
  body{
    font-size: 12px;
  }
  @media screen and (min-width: 767.98px){
    body{
      font-size: 16px;
    }

}